
.label-left {
	color: rgba(255,255,255,0.5);
	position: absolute;
	top: 6px;
	left: 10px;
	text-transform: uppercase;
	font-size: 10px;
}
.label-right {
	color: rgba(255,255,255,0.5);
	position: absolute;
	bottom: 6px;
	left: 10px;
	text-transform: uppercase;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}
.peaks-svg {
	height: 256px;
	width: 100%;
	background-color: #052d27;
	box-shadow: inset 0px 0px 13px #000;
}
.peak-path {
	stroke: rgba(120, 249, 224, 0.8);
}
#zeroLine {
	stroke: rgb(250, 251, 61);
}
#playHead {
	stroke: rgba(255,0,0,0.8);
}
